body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:320px;
  height:570px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:78px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:264px;
  width:97px;
  height:78px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:93px;
  word-wrap:break-word;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:68px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u50 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:746px;
  width:300px;
  height:68px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
